* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #30241f;
  color: #f1f1f1;
}

nav {
  font-size: 17px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  right: 0;
  max-width: 100%;
  padding: 0 7rem;
  margin: 0 auto;
  height: 4.3rem;
  display: flex;
  background-color: #000;
  color: #f1f1f1;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 40px;
  cursor: pointer;
}

.logo:hover {
  filter: brightness(0.75) invert(0);
  transition: 0.7s;
}

.ul-nav {
  cursor: pointer;
  display: flex;
  gap: 4.3rem;
  text-align: center;
  align-items: center;
  list-style: none;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

a:hover {
  color: #c5c3c3;
  transition: 0.7s;
}

.video-church {
  margin-top: 4.3rem;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-church video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-video {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10.5rem;
  z-index: 2;
}

.btn-video a {
  text-align: center;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #f1f1f1;
  color: #f1f1f1;
  padding: 1rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-video a:hover {
  transition: 0.3s;
  border: 2px solid #b8b6b6;
  color: #f1f1f1;
}

main {
  display: flex;
}

.fundo-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
}

.verse {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #30241f;
  color: #f1f1f1;
  padding: 5rem 11rem;
  gap: 9rem;
  border-bottom: 2px solid #c2a58c;
}

.logo-element {
  width: 300px;
  height: auto;
}

.verse-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 600px;
}

.verse-text h2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0.9rem;
  text-align: justify;
  z-index: 1;
}

.verse-text p {
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 0.9;
  z-index: 1;
}

.location {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  color: #fff;
  border-bottom: 2px solid #c2a58c;
}

.img-drone {
  margin: 4rem 0 0 4rem;
  border-radius: 1rem;
  height: 500px;
}

.container-img-drone p {
  letter-spacing: 1.5px;
  margin-top: 0.4rem;
  text-align: center;
  font-size: 19px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.address h1 {
  margin: 10rem 0 5rem 0;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
}

.address p {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-weight: 300;
  border-bottom: 2px solid #c2a58c;
  margin-bottom: 2rem;
  margin-left: 8rem;
  margin-right: 2rem;
  transform: translateX(-3rem);
}

.bolhas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.03;
  pointer-events: none;
  z-index: 0;
}

.youtube {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #30241f;
}

.central-borrao {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: 0;
}

.logo-transparente {
  position: absolute;
  top: 2rem;
  width: 40%;
  transform: translateX(-5%);
  height: 100%;
  object-fit: cover;
  opacity: 0.02;
  z-index: 0;
}

.container-youtube {
  position: relative;
  z-index: 2;
}

.container-youtube h1 {
  font-size: 4rem;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
}

.img-yt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  position: relative;
  z-index: 2;
}

.youtube-desktop {
  margin-left: -5rem;
  height: 450px;
  z-index: 10;
  margin-top: -1rem;
}

.youtube-celular {
  height: 330px;
  z-index: 10;
  margin-top: 0;
}

.youtube-click {
  height: 150px;
  display: block;
}

.link-img {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 3;
}

.click-img {
  position: absolute;
  left: 37%;
  top: 15%;
  height: 80px;
  z-index: 3;
  filter: brightness(0) invert(90%);
}

.element-youtube {
  position: absolute;
  bottom: 5%;
  width: 450px;
  z-index: 0;
}
